## 哈希表

In [3]:
class hash(object):
    def __init__(self, num_buckets: int):
        self.size = num_buckets
        self.content = [[] for _ in range(self.size)]
    
    def hash_func(self, in_num: int):
        return (in_num * 7) % 5
    
    def insert(self, in_num: int):
        if in_num not in self.content[self.hash_func(in_num)]:
            self.content[self.hash_func(in_num)].append(in_num)
        
    def delete(self, tar: int):
        if tar in self.content[self.hash_func(tar)]:
            self.content[self.hash_func(tar)].remove(tar)
            
    def output(self):
        print(self.content)

In [4]:
hash_list = hash(5)
l = [7, 5, 3, 4, 1, 2, 8]
for x in l:
    hash_list.insert(x)
hash_list.output()

[[5], [3, 8], [1], [4], [7, 2]]

In [5]:
hash_list.insert(9)
hash_list.delete(4)
hash_list.output()

[[5], [3, 8], [1], [9], [7, 2]]

## SQL

In [6]:
import sqlite3

In [21]:
db = sqlite3.connect("university.db")
cursor = db.cursor()

In [9]:
cursor.execute("""create table if not exists students(
id integer primary key,
name text not null,
class text not null,
grade integer);
""")

In [10]:
cursor.execute("""insert into students(id, name, class, grade) values(1, "Mary", "Python", 67);""")
cursor.execute("""insert into students(id, name, class, grade) values(?, ?, ?, ?);""", (2, "Bob", "C++", 59))

In [11]:
cursor.execute("""insert into students(id, name, class, grade) values(3, "Hb", "BDMI", 100);""")
db.commit()

In [13]:
cursor.execute("select * from students")
cursor.fetchall()

[(1, 'Mary', 'Python', 67), (2, 'Bob', 'C++', 59), (3, 'Hb', 'BDMI', 100)]

In [25]:
db.close()

In [16]:
cursor.execute("""create table if not exists classes(
id integer primary key,
name text not null,
teacher text not null);
""")

In [17]:
cursor.execute("""insert into classes(id, name, teacher) values(1, "BDMI", "CZ");""")
cursor.execute("""insert into classes(id, name, teacher) values(2, "Python", "HB");""")
cursor.execute("""insert into classes(id, name, teacher) values(3, "Go", "KJ");""")
db.commit()

In [18]:
cursor.execute("select * from students")
print(cursor.fetchall())
cursor.execute("select * from classes")
print(cursor.fetchall())

[(1, 'Mary', 'Python', 67), (2, 'Bob', 'C++', 59), (3, 'Hb', 'BDMI', 100)]
[(1, 'BDMI', 'CZ'), (2, 'Python', 'HB'), (3, 'Go', 'KJ')]

In [19]:
cursor.execute("""create table if not exists enrolled(
sid integer not null,
cid integer not null,
score integer not null);
""")

In [23]:
cursor.execute("""insert into enrolled(sid, cid, score) values(1, 2, 5);""")
cursor.execute("""insert into enrolled(sid, cid, score) values(2, 1, 90);""")
cursor.execute("""insert into enrolled(sid, cid, score) values(1, 3, 69);""")
db.commit()

In [24]:
cursor.execute("""select s.name, c.name from students as s, classes as c, enrolled as e where s.id = e.sid and c.id = e.cid""")
print(cursor.fetchall())

[('Mary', 'Python'), ('Bob', 'BDMI'), ('Mary', 'Go')]